body {
  background-image: url('img/Gedung_TI.jpg');
  background-color: #f8f9fe;
}

.card-form {
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,.05);
  border: 1px solid #e5eaf7;
  background: #fff;
}

.section-title {
  text-align: center;
  font-weight: 700;
  margin: 8px 0 16px;
}

.btn-primary {
    display: inline-block;
    margin-top: 35px;
    padding: 12px 20px;
    background: #0a2d79;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.2s ease;
}

.btn-primary:hover {
  background-color: #133ea5;
}

.back-btn {
    display: inline-block;
    margin-top: 35px;
    padding: 12px 20px;
    background: #ffc107;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.2s ease;
}

.back-btn:hover {
    background: #f4c73e;
}

.form-label {
  font-weight: 600;
}