body {
  background-image: url('img/Gedung_TI.jpg');
  font-family: 'Poppins', sans-serif;
}

.dropdown-menu {
  border-radius: 0;
  padding: 0.5rem 0;
}

.dropdown-item {
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #0a2d79;
  color: white;
}

.form-card {
  max-width: 700px;
  border-radius: 15px;
  padding: 30px;
  border: 1px solid #e0e0e0;
}

.form-label {
  font-weight: 600;
  color: #0a2d79;
}

.btn-primary {
    display: inline-block;
    margin-top: 35px;
    padding: 12px 20px;
    background: #0a2d79;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.2s ease;
}

.btn-primary:hover {
  background-color: #133ea5;
}

.back-btn {
    display: inline-block;
    margin-top: 35px;
    padding: 12px 20px;
    background: #ffc107;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.2s ease;
}

.back-btn:hover {
    background: #f4c73e;
}

input.form-control {
  border-radius: 20px;
  padding: 10px 15px;
}

h4 {
  color: #0a2d79;
}